## 라이브러리 설정

In [17]:
import csv
import pandas as pd

## Data 정보 확인

In [18]:
raw_path = "/Volumes/X31/프로젝트/Opensource-project-25-2/Data/제주도_전력 수요량 시간별 데이터_2021~2023.csv"
try:
    df = pd.read_csv(raw_path, encoding="utf-8")
except UnicodeDecodeError:
    try:
        df = pd.read_csv(raw_path, encoding="cp949")
    except Exception:
        df = pd.read_csv(raw_path, encoding="euc-kr", errors="replace")

print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18936 entries, 0 to 18935
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   거래일자         18936 non-null  object
 1   거래시간         18936 non-null  int64
 2   지역           18936 non-null  object
 3   전력 수요량(MWh)  18936 non-null  int64
dtypes: int64(2), object(2)
memory usage: 591.9+ KB
None
         거래일자  거래시간   지역  전력 수요량(MWh)
0  2021-01-01     1  제주도       746329
1  2021-01-01     2  제주도       710544
2  2021-01-01     3  제주도       685313
3  2021-01-01     4  제주도       674663
4  2021-01-01     5  제주도       673656

# Data transformer

In [ ]:
import unicodedata, re

# Use the translations mapping you provided to rename columns
translations = {
    '거래일자': 'datetime',
    '거래시간': 'hour',
    '지역': 'region',
    '전력수요량': 'power_demand',
}

def map_col(col):
    s = str(col)
    # exact match or substring match to use the provided mapping
    for k, v in translations.items():
        if s == k or k in s:
            return v
    # fallback: normalize to ascii, remove non-alphanum and lower-case
    s2 = s.replace(' ', '_').replace('-', '_')
    s2 = unicodedata.normalize('NFKD', s2).encode('ascii', 'ignore').decode('ascii')
    s2 = re.sub(r'[^0-9A-Za-z_]', '', s2).lower()
    return s2 or col

# Build mapping from original -> new column names and apply it
new_cols = {c: map_col(c) for c in df.columns}
print('Column mapping (original -> new):')
for k, v in new_cols.items():
    print(f'{k} -> {v}')

df.rename(columns=new_cols, inplace=True)

Column mapping (original -> new):
거래일자 -> datetime
거래시간 -> hour
지역 -> region
전력 수요량(MWh) -> _mwh

In [22]:
df.head()

     datetime  hour region    _mwh
0  2021-01-01     1    제주도  746329
1  2021-01-01     2    제주도  710544
2  2021-01-01     3    제주도  685313
3  2021-01-01     4    제주도  674663
4  2021-01-01     5    제주도  673656